<div id="disqus_thread"></div>
<script>
  var disqus_config = function () {
    this.page.url = {{ .Permalink }};
    this.page.identifier = {{ .RelPermalink }};
  };
  (function() {
    var d = document, s = d.createElement('script');
    s.src = 'https://real-dev-world.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
  })();
</script>
<noscript>Por favor habilita JavaScript para ver los <a href="https://disqus.com/?ref_noscript">comentarios de Disqus.</a></noscript>
